* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  background-color: rgb(37, 29, 29);
  color: rgb(232, 67, 232);
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  font-size: 2rem;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 300px;
  max-width: 70%;
  border-radius: 6px;
  background-color: rgb(240, 198, 240);
  color: purple;
  margin-top: 0 auto;
  padding: 1rem;
}

h2 {
  text-transform: capitalize;
  padding: 20px 0;
}

.subcontainer-2 {
  width: 100%;
  max-width: 300px;
  height: auto;
  padding-bottom: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 28px 0;
}

li a {
  background-color: purple;
  text-decoration: none;
  padding: 12px 20px;
  color: plum;
  border-radius: 8px;
  font-size: 1.2rem;
  display: block;
  text-align: center;
}

li a:hover {
  background-color: plum;
  color: black;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem; /* Smaller header for mobile */
    padding: 1rem;
  }

  #container {
    min-width: auto;
    padding: 1rem;
  }

  .subcontainer-2 {
    width: 90%; /* Use most of the screen width on mobile */
    max-width: 250px;
  }

  li a {
    font-size: 1rem; /* Slightly smaller text for mobile */
    padding: 10px 20px;
  }
}
